* {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  }
  
main {
    height: 100vh;
    color: #EEFC57;
    background-color: #5e5b52;
}

.navbar-brand {
  color: #FC7A57;
  font-size: xx-large;
}


